*.DS_Store
*node_modules/
*temp/
*venv*/
*venv/
*__pycache__/
*.pyc
*_service_account.json
*_service_account.json.encrypted
amazon_mws_credentials.json
amazon_mws_credentials.json.encrypted
## *refresh_token.txtfa
*adscale_*_credentials.json
*adscale_*_credentials.json.encrypted
*googleads-*.yaml
*google-ads-*.yaml
*googleads-*.yaml.encrypted
*google_ads*.yaml
*google-ads-new-api-staging*.yaml.encrypted
oauth2-secret-file*.json
oauth2-secret-file*.json.encrypted
*bingads-*.json
*bingads-*.json.encrypted
*criteo-*.json
*criteo-*.json.encrypted
*pinterest-*.json
*pinterest-*.json.encrypted
*snapchat-*.json
*snapchat-*.json.encrypted
*.iml
*.idea/
*target/
*_secret_rsa.pub
*_secret_rsa
.ropeproject/
*.log
*.bit
*build/
*dist/
# Front test coverage
smartFeeds_services/coverage/
*.coverage
*dataprep_*_token.txt
*export_sftp_ssh_key
app/storybook-static/
